
.netflix-sans-font-loaded {
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

body{
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/a27b8244-8c0b-4db4-984e-0cd57daa489d/3fd20efb-f927-456e-b0f6-5fdd24ccfe99/US-en-20190506-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    margin: auto 10px;
    width: auto;
    font: thin;
} 

.main{
    display:grid;
    margin: 10px;
    grid-template-columns: 3.5fr 5fr 3.5fr
    }

.logo{
    cursor: pointer;
    margin-right: 5px;
}
.signIn{
    color: white;
    text-decoration: none;
}


a:link {
    color: white;
    text-decoration: none;   
}

a:hover {
    color: white;
    text-decoration: none;
    }
a:active {
    color: white;
    text-decoration: none;
    
}
a:visited {
    color: grey;
    text-decoration: none;
}


.button {
    color: white;
    border-radius: 4px;
    background: red;
    padding-left: 16px;
    padding-right: 16px;
    size: 60%;
    margin: 2fr 4fr 2fr;
    text-align: center;
    margin-top: 5%;
    padding-top: .5px;
    padding-bottom: .5px;
}

.bulk{
    opacity: .8;
    filter: alpha(opacity=30); 
    background-color: black;
    margin-top: 20%;
    padding-bottom: 50%
}

.signIn{
    opacity: 100%;
    padding-left: 10%;
    padding-right: 10%;

}

input{
    padding-left: 29%;
    padding-right: 29%;
    padding-top: 5%;
}