body{
    background: #141414;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    margin: auto 10px;
    width: auto;
    
}

.main{
    margin: 10px;
}

.mainText{
    color: white;
}

.logo{
    color: red;
    font: 'Helvetica Neue';
    

}

.faith{
    color: grey;
}

.keve{
    color: grey;
}

.kai{
    color: grey;
}

.kc{
    color: grey;
}